<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Meus jogos</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <div class="platform-games-list">
        <th:block th:each="game : ${games}">
        <div class="platform-game-detail">
            <img th:src="${game.url}">
            <div class="platform-game-detail-info">
                <div th:text="${game.name}" class="platform-game-detail-name"></div>
                <div th:text="${game.finishedAt}" class="platform-game-detail-finishedAt"></div>
            </div>
        </div>
        </th:block>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>