<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Meus jogos</title>
</head>
<body>
    <main>
        <div th:replace="fragments/header :: header"></div>
    <div class="games-list">
        <div class="nav-games-list"></div>
        <div class="nav-games-list">Jogos Zerados</div>
        <div class="nav-games-list">Console</div>
        <div class="nav-games-list">Data</div>
        <div class="nav-games-list">Tempo</div>
        <div class="nav-games-list">Nota</div>
        <div class="nav-games-list">Condição de Zeramento</div>
        <th:block th:each="game : ${games}">
        <img th:src="${game.coverUrl}" class="games-img-game">
        <div th:text="${game.name}" class="games"></div>
        <img th:src="${game.platformLogoUrl}" class="games-img-platform">
        <div th:text="${game.finishedAt}" class="games"></div>
        <div th:text="${game.finishTime} + 'h'" class="games"></div>
        <div th:class="'games games-rating games-rating-' + ${game.rating}" th:text="${game.rating}"></div>
        <div th:class="${game.isGold} ? 'games games-gold' : 'games' + (${game.isPlatina} ? ' games-platina' : '')" th:text="${game.finishCondition}" class="games"></div>
        </th:block>
    </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
    <script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>